[submodule "backend"]
	path = backend
	url = https://github.com/frixtaylor1/websockets-chat-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/frixtaylor1/websockets-chat-frontend.git
